.btn{
    border: none !important;
    &__paypal{
        background-image: url('../../assets/paypal-checkout-button.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height:50px;
        width: 190px;
        border: none;
    }
    &__paypal:hover{
        border: none;
    }
    &__trash{
        color: red;
        font-size: 20px;
        cursor: pointer;
    }
}
.line{
    &--border{
        height: 5px;
        background-color: black;
    }
    &--div{
        height: 30px;
        width: 30px;
        background-color: black;
    }
}